body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

nav {
  background-color: rgba(255, 255, 255, 0.976);
  width: 100%;
  height: 60px;
  position: sticky;
  top: 0;
  z-index: 100;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  padding: 0;
}

ul svg {
  height: 60px;
}

li {
  list-style: none;
  text-decoration: none;
  margin: 0 10px;
  font-size: 12px;
}

a:visited,
a {
  color: rgb(75, 107, 223);
  text-decoration: none;
  letter-spacing: 0.5px;
}

.chevron-icon {
  width: 15px;
  color: blue;
}

.donation {
  background-color: rgb(253, 252, 252);
  padding: 15px;
}

.donation p {
  max-width: 470px;
  margin: 0 auto;
  font-size: 15px;
  text-align: center;
}

.donation a {
  font-size: 15px;
}

.savings-college,
.macbook-air-15,
.iPhone-14 {
  height: 500px;
  background-color: rgb(243, 243, 243);
}

.savings,
.macbook-info,
.iPhone-14-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 0px;
}

.savings h2,
.macbook-info h2,
.iPhone-14-info h2 {
  margin: 0 auto;
  font-size: 46px;
  max-width: 490px;
  text-align: center;
  z-index: 1;
  margin-top: 40px;
  font-weight: 600;
  letter-spacing: .002em;
}

.savings h3,
.macbook-info h3,
.iPhone-14-info h3 {
  font-size: 20px;
  font-weight: 340;
  margin: 10px;
  z-index: 1;
}

.savings a {
  font-size: 16px;
  z-index: 1;
}

.savings-img,
.macbook-img-container,
.iphone14-img {
  height: 100%;
  width: 100%;
}

.savings-img img,
.macbook-img-container img,
.iphone14-img img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.macbook-air-15,
.iPhone-14 {
  margin-top: 10px;
  background-color: rgb(249, 249, 249);
}

.two-links {
  z-index: 1;
  font-size: 16px;
}

.two-links a,
.two-links-collection a {
  margin-left: 20px;
}


.apple-event,
.iphone14-pro,
.ipad-pro,
.apple-watch-series-8,
.iphone-tradein,
.apple-card {
  height: 700px;
  width: calc(50% - 10px)
}

.apple-event-info,
.iphone14-pro-info,
.ipad-pro-info,
.apple-watch-info,
.trade-in-info,
.apple-card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 0;
}

.apple-event-info {
  position: relative;
  top: -35%;
}

.iphone14-pro-info h2,
.ipad-pro-info h2,
.apple-watch-info h2,
.apple-watch-info h4,
.trade-in-info h2,
.apple-card-info h2,
.apple-event-info h2 {
  color: white;
  font-size: 32px;
  letter-spacing: 0.002em;
  line-height: 1.25;
  z-index: 1;
  margin-bottom: 2px;
  margin-top: 60px;
}

.apple-watch-info h4 {
  color: rgb(211, 0, 0);
  font-size: 12px;
  margin: 0 0 14px;
  letter-spacing: 0.15em;
  line-height: .2em;
}

.iphone14-pro-info h3,
.apple-watch-info h3,
.ipad-pro-info h3
.trade-in-info h3,
.apple-card-info h3,
.apple-event-info h3 {
  color: white;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.012em;
  line-height: 1.22;
  z-index: 1;
  margin: 5px 0;
}

.trade-in-info h2,
.trade-in-info h3,
.apple-card-info h2,
.apple-card-info h3 {
  color: black;
}

.apple-card-info h3 {
  width: 60%;
  text-align: center;
}

.m2-chip {
  z-index: 1;
  color: white;
  display: flex;
  align-items: center;
}


.m2-chip img {
  height: 40px;
  margin-left: 5px;
}

.two-links-collection {
  z-index: 1;
  font-size: 16px;
  margin: 10px 0 10px;
}

.two-links-collection a,
.two-links-collection svg {
  color: #2997ff;
}

.trade-in-info a,
.trade-in-info svg,
.apple-event-info a,
.apple-event-info svg {
  color: #2997ff;
  z-index: 1;
  font-size: 16px;
  margin-top: 5px;
}

.collections-img-container {
  height: 100%;
}

.collections-img-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.collection-section {
  display: flex;
  justify-content: space-around;
  margin: 10px 10px 0;
}

.collection-section:last-child {
  margin-bottom: 10px;
}

.title-logo {
  display: flex;
  align-items: center;
}

footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 8px;
  color: #949496;
  background-color: rgb(249, 249, 249);
}

.footer-content {
  padding: 0 22px;
  color: #6e6573;
  max-width: 800px;
}

.top {
  padding: 17px 0 12px;
  border-bottom: 1px solid #d2d2d7;
}

.top ul{
  padding: 0;
}

.top li {
  padding-bottom: 0.8em;
  font-size: 12px;
  line-height: 1.4;
  margin: 0;
}

.top a {
  text-decoration: underline;
  color: #424245;
}

.middle {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  font-size: 10px;
  line-height: 1.4;
  font-weight: 200;
}

.middle-content {
  display: flex;
  flex-direction: column;
  flex-basis: 18%;
}

.column-section{
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
}

.column-section h3 {
  margin: 0 20px 0.45em 0;
  font-size: 14px;
  font-weight: 500;
}

.column-section ul {
  padding: 0;
  margin: 0;
}

.column-section li {
  margin: 0 0 0.45em;
}

.column-section a {
  color: #6e6573;
}

.bottom {
  display: flex;
  flex-direction: column;
  padding-top: 38px;
  padding-bottom: 18px;
  font-size: 12px;
  color: #6e6573;
}

.shop {
  padding-bottom: 10px;
  border-bottom: 1px solid #d2d2d7;
}

.legal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;

}

.legal-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.copy-right {
  font-size: 12px;
  margin-right: 8px;
}

.legal-links ul {
  display: flex;
  padding: 0;
}

.legal-links li {
  border-right: 1px solid rgba(128, 128, 128, 0.486);
  padding-right: 8px;
  margin-right: 2px;
  font-size: 11px;
}

.legal-links li:last-child {
  border: 0;
}

.legal-links a {
  color: #57575a;
}


@media screen and (max-width: 1068px) {
  .iphone14-pro,
  .ipad-pro,
  .apple-watch-series-8,
  .iphone-tradein,
  .apple-card,
  .apple-event {
    height: 500px;
  }

  .apple-event-info {
    position: relative;
    top: -42%;
  }

  footer {
    flex-wrap: wrap;
  }
}
