body {
  /* background-color: rgba(244, 244, 244, 0.8); */
  margin: 0;
}

nav {
  background-color: rgba(218, 218, 219, 0.25);
  width: 100%;
  height: 60px;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  padding: 0;
}

ul svg {
  height: 60px;
}

li {
  list-style: none;
  text-decoration: none;
  margin: 0 10px;
  font-size: 14px;
}

a:visited, a {
  color: rgb(75, 107, 223);
  text-decoration: none;
  letter-spacing: .5px;
}

.chevron-icon{
  width: 15px;
  color: blue;
}



.donation {
  background-color: white;
  padding: 15px;
}

.donation p{
  max-width: 470px;
  margin: 0 auto;
  font-size: 16px;
  text-align: center;
}

.donation a {
  font-size: 16px;
}


.savings-college, .macbook-air-15, .iPhone-14  {
  height: 500px;
  background-color: rgb(243, 243, 243);
}

.savings, .macbook-info, .iPhone-14-info  {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 0px;
}

.savings h2, .macbook-info h2, .iPhone-14-info h2 {
  margin: 0 auto;
  font-size: 48px;
  max-width: 490px;
  text-align: center;
  z-index: 1;
  margin-top: 40px;
}

.savings h3, .macbook-info h3, .iPhone-14-info h3 {
  font-size: 24px;
  font-weight: 400;
  margin: 10px;
  z-index: 1;
}

.savings a{
  font-size: 18px;
  z-index: 1;
}


.savings-img, .macbook-img-container, .iphone14-img {
  height: 100%;
  width: 100%;
}

.savings-img img, .macbook-img-container img, .iphone14-img img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;

}

.macbook-air-15, .iPhone-14 {
  margin-top: 15px;
  background-color: rgb(249, 249, 249);
}

.two-links{
  z-index: 1;
  font-size: 18px;
}

.two-links a, .two-links-collection a {
  margin-left: 20px;
}

.iphone14-pro, .ipad-pro {
  height: 500px;
  width: 50%;
}

.iphone14-pro-info, .ipad-pro-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 0;
}

.iphone14-pro-info h2, .ipad-pro-info h2 {
  color: white;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: .002em;
  line-height: 1.25;
  z-index: 1;
  font-weight: 600;
}



.iphone14-pro-info h3 {
  color: white;
  font-size: 19px;
  font-weight: 400;
  letter-spacing: .012em;
  line-height: 1.22;
  z-index: 1;
}

.m2-chip {
  z-index: 1;
  color: white;
  display: flex;
}

.two-links-collection{
  z-index: 1;
  font-size: 19px;
}

.two-links-collection a, .two-links-collection svg {
  color:#2997FF;
}

.collections-img-container {
  height: 100%;
  background-color: black;
}

.collections-img-container img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
